	div #presentacion{
		width:50%; 
		float:left
	}
		
	#imgpres{
		height:99vh; 
		width:100%; 
		float:left
	}	
	
	
	
	
div #descripcion
{
width:50%; 
height:83vh; 
float:right;
}

div #titulo{	
	font-size:7vh;
	color:black;
	}
	
div #contenido{

	margin-left:8%;
	margin-right:8%;
	margin-top:5%;
	font-size:2.5vh;
	color:black;
	}
	
		@media screen and (min-width:300px) and (max-width:1000px) {
		
	
		#imgpres{
		height:50vh; 
		width:100%; 
		float:left
	
	
		}
		div #descripcion
		{
			width:50%; 
			height:50vh; 
			float:right;
			/* background-color:red;*/
		}
		}
		
	.picture { 
		background-color: #F9F9F9;padding: 3px;
		font: 11px/1.4em Arial, sans-serif; 
	}
	.picture img { 
		border: 1px solid #CCCCCC;
		vertical-align:middle; 
		margin-bottom: 3px;
    border-radius:160px;
	}
	.right { 
		margin-right:15%;
		float:right; 
	}
	.left { 
		margin-left:15%;
		float:left;
	}
	
	#descimag{
		color:black;
		font-size:15px;
		text-align:center;
	}