	div #presentacion{
		width:50%; 
		float:left
	}
		
	#imgpres{
		height:83vh; 
		width:100%; 
		float:left
	}	
	
	
	
	
div #descripcion
{
width:50%; 
height:83vh; 
float:right;
 /* background-color:red;  */
}

div #titulo{
	/* backgmround-color:blue; */
	
	margin-top:5%;
	font-size:7vh;
	color:black;
	}
	
div #contenido{
	/* background-color:blue; */
	margin-left:8%;
	margin-right:8%;
	margin-top:5%;
	font-size:2.5vh;
	color:black;
	}
	
		@media screen and (min-width:300px) and (max-width:1000px) {
		
	
		#imgpres{
		height:50vh; 
		width:100%; 
		float:left
	
	
		}
		div #descripcion
		{
			width:50%; 
			height:50vh; 
			float:right;
			/* background-color:red;*/
		}
